<header class="header">
  <div class="container">
    <a class="branding" href="/">
      <span class="sr-only">Site logo</span>
      <img src="./assets/images/shared/desktop/logo-dark.png" alt="site logo">
    </a>
    <button class="button button--burger">
      <svg class="button--burger__icon show" width="24" height="20" xmlns="http://www.w3.org/2000/svg"><g fill="#1D1C1E" fill-rule="evenodd"><path d="M0 0h24v4H0zM0 8h24v4H0zM0 16h24v4H0z"/></g></svg>
      <svg class="button--burger__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M17.071.1L19.9 2.93l-7.071 7.07 7.071 7.072-2.828 2.828L10 12.828l-7.071 7.071L.1 17.071 7.17 10 .102 2.929 2.929.1l7.07 7.07 7.072-7.07z" fill="#1D1C1E" fill-rule="evenodd"/></svg>
    </button>
    <nav class="desktop-menu-container">
      <ul class="desktop-menu">
        <li class="desktop-menu__item">
          <a href="/" class="t-desktop-nav-link">Our Company</a>
        </li>
        <li class="desktop-menu__item">
          <a href="/" class="t-desktop-nav-link">Locations</a>
        </li>
        <li class="desktop-menu__item">
          <a href="/" class="t-desktop-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="mobile-menu-container">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="/" class="t-mobile-nav-link">Our Company</a>
      </li>
      <li class="mobile-menu__item">
        <a href="/" class="t-mobile-nav-link">Locations</a>
      </li>
      <li class="mobile-menu__item">
        <a href="/" class="t-mobile-nav-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>