.home-hero {
  .container {
    background-repeat: no-repeat;
    background-color: var(--color-peach);
    background-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
  }
  &__content {
    text-align: center;
    padding: 8rem 2.4rem 0;
  }
  &__phone {
    width: 100%;
    margin: -9rem auto 0;
    height: 55.1rem;
    background-position: top center;
    background-image: url(../images/home/desktop/image-hero-phone.png);
  }
  &__body {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}