:root {
  // Colors
  --color-peach: #e7816b;
  --color-black: #1d1c1e;
  --color-white: #ffffff;
  --color-dark-gray: #333136;
  --color-light-gray: #f1f3f5;
  --color-light-peach: #ffad9b;

  // Font Weights
  --weight-mid: 500;
  --weight-regular: 400;

  // Design Elements
  --transition: 300ms ease-in-out;
}