:root {
  // Colors
  --color-peach: #e7816b;
  --color-black: #1d1c1e;
  --color-white: #ffffff;
  --color-dark-gray: #333136;
  --color-light-gray: #f1f3f5;
  --color-light-peach: #ffad9b;

  // Font Weights
  --weight-mid: 500;
  --weight-regular: 400;

  // Design Elements
  --transition: 300ms ease-in-out;
}

.sr-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}