@mixin fontbase($size, $height, $weight, $letterspacing) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  letter-spacing: $letterspacing;
}

// Type Specs
.t-h1 {
  @include fontbase(3.2rem, 3.6rem, var(--weight-mid), 0);
  @media (min-width: 768px) {
    @include fontbase(4.8rem, 4.8rem, var(--weight-mid), 0);
  }
}

.t-h2 {
  @include fontbase(2.8rem, 3.6rem, var(--weight-mid), .14rem);
  @media (min-width: 768px) {
    @include fontbase(4rem, 4.8rem, var(--weight-mid), .2rem);
  }
}

.t-h3 {
  @include fontbase(2rem, 2.6rem, var(--weight-mid), .5rem);
}

.t-body1 {
  @include fontbase(1.6rem, 2.6rem, var(--weight-regular), 0);
}

.t-body2 {
  @include fontbase(1.5rem, 2.5rem, var(--weight-light), 0);
  @media (min-width: 768px) {
    @include fontbase(1.6rem, 2.6rem, var(--weight-light), 0);
  }
}

.t-mobile-nav-link {
  color: var(--color-white);
  text-transform: uppercase;
  @include fontbase(2.4rem, 2.5rem, var(--weight-light), .2rem);
}

.t-desktop-nav-link {
  text-transform: uppercase;
  color: var(--color-dark-gray);
  @include fontbase(1.4rem, 1.4rem, var(--weight-regular), .2rem);
}

.t-white {
  color: var(--color-white);
}